@{
    Layout = "Master.cshtml";
}
@using NorilskNikel.EF

<a href ="/">
<h1  align="center" >  Nornikel</h1>
</a>
 
<div>
       <h2 align="center" >@ViewBag.Resourse.name</h2>
        <p class="pic">
       <img src = "/images/@(ViewBag.Resourse.Id).jpg" alt = "@ViewBag.Resourse.name"  width="200" height="200"/>
        </p>
       <p  align="center" >@ViewBag.Resourse.description</p>
       
    
</div>

